@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
#loginDiv {
  margin-top: 15%;
  border: #0894bb;
  font-family: 'Josefin Sans', sans-serif; }

.card {
  border: none;
  padding: 10px; }

.button {
  margin-left: 40%; }

#logo {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif; }
