@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");


#loginDiv {
    margin-top: 15%;
    border:none;
    font-family: 'Josefin Sans', sans-serif;
}

#header {
    background-color: red;
}

.card {
    border:none;
    padding:10px;
}

.button{
    margin-left:40%;
}

#logo {
    padding:20px;
    font-family: 'Josefin Sans', sans-serif;

}

